#sudoku {
  --Dimension: 500px;
  width: var(--Dimension);
  height: var(--Dimension);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.sudoku_number {
  font-family: "Quicksand", sans-serif;
  /*border: 1px solid grey;*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  transition: 300ms;
  cursor: pointer;
}
.sudoku_number:hover {
  background-color: rgb(224, 224, 224);
}
.sudoku-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#numbers-input {
  display: none;
}
